# Supabase Configuration
# Copy this file to .env.local and fill in your Supabase credentials

# NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

NEXT_PUBLIC_SUPABASE_URL=https://fqnwkevyyjhhhklgblzb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxbndrZXZ5eWpoaGhrbGdibHpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzODM1NjYsImV4cCI6MjA3NTk1OTU2Nn0.Jpu1zgaokngX8u2OodCDpCvoAz_UC5MaFJUs5mfTU1Y
